.banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-family: Calibri, sans-serif;
  z-index: 9999;
}


.container {
  margin: auto;
  max-width: 600px;
  padding: 70px;
  text-align: center;
}

.input-field {
  margin-bottom: 5px;
  text-align: center;
}

.pairings-table {
  margin-top: 15px;
}

.pairings-table + .pairings-table {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

table {
  border-collapse: collapse;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 35px;
}

th,
td {
  padding: 10px;
  border: 1px solid black;
}

th {
  background-color: #ddd;
}

button {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 20px;
  background-color: #0757be;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0756be9d;
}

input[type="number"] {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
}

input[type="text"] {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
}

body, .banner, .container, .input-field, .pairings-table, label, table, th, td, button, input[type="number"], input[type="text"] {
  font-family: Calibri, sans-serif;
}
